/* HERO */
.hero{
  padding:80px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40;
}

.hero-content{
  display: 1;
  max-width:600px;
  margin:15px 5px;
}

.hero-content-tittle{
  display: inline-block;
  padding: 6px 12px;
  background: var(--primary-light);
  border-radius: 1pc;
}

.hero h4{
  color:var(--primary-dark);
}

.hero h1{
  font-size:36px;
  margin-bottom:20px;
  color:var(--text-main);
}

.hero-content span{
  color: var(--primary-dark);
}

.hero p{
  font-size:16px;
  margin-bottom:25px;
  color:var(--text-soft);
}

.hero-buttons button{
margin-right:15px;
padding:12px 20px;
border:none;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.primary{
background:var(--primary);
color:white;
}

.primary:hover{
background:var(--primary-dark);
}

/* CONTENEDOR DEL CARRUSEL */
.hero-carousel{
  flex: 1;   
  display: flex;
  justify-content: center;
}   